.venv/
__pycache__/
*.pyc
#data/fbref-pages-html/
data/fbref-pages-html/onde.txt
tree/resultado_arvore.txt
tree/arvore_regras_20260615_131852.txt
tree/decisionTree-beta-0.5.py
tree/arvore_20260615_131852.png
GRAFICO A ANALISAR.png